<div class="container mx-auto p-2  md:p-12 flex flex-wrap md:flex-nowrap gap-8 text-black text-family" *ngIf="article">
    <!-- Main News Section -->
    <div class="w-full md:w-[70%] p-1 ">
       
       
        <div *ngIf="article && article.entries && article.entries[0]?.video">
            <video controls autoplay loop class="w-full h-64 md:h-96 mt-4 mb-4 rounded-lg object-cover">
              <source [src]="getVideoUrl(article.entries[0].video)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          
        
        <h1 class="text-xl font-[700] md:font-[700] text-black leading-tight flex">
          {{article.title}}
        </h1>
        <div class="">
            <!-- <div *ngIf="article?.entries?.length"> -->
                <!-- <div *ngFor="let entry of article.entries"> -->
                  <div [innerHTML]="article.body" class=" text-sm sm:text-base mt-4 leading-relaxed" *ngIf="showDescription" class=" leading-relaxed description"></div>
                <!-- </div> -->
              <!-- </div> -->
            </div>
        <span (click)="showDescription = !showDescription"
                class="Readmore  text-black mt-4  hover:bg-gray-800 transition duration-300"
                [innerHTML]="showDescription ? 'Read less <i class=\'fa-solid fa-chevron-up\'></i>' : 'Read more <i class=\'fa-solid fa-chevron-down\'></i>'">
            
            </span>
        <div class="flex gap-5 mt-4">
            <p class="text-gray-600">By: <span class="font-semibold text-black"> {{article.author}}</span></p>
            <p class="text-gray-600">{{article.popularity_stats.all_time_stats}} Views</p>
            <p class="text-gray-600">{{ article.formattedCreatedAt }}</p>
 </div>


    <!-- Buttons Section -->
  <app-like-dislike></app-like-dislike>
    

           
<!-- <div class="flex justify-between items-center mt-6">
    <div class="flex gap-8 sm:gap-9 text-4xl sm:text-4xl">
        <span>
            <i class="fa-brands fa-instagram"></i>
        </span>
        <span>
            <i class="fa-brands fa-square-facebook"></i>
        </span>
        <span>
            <i class="fa-brands fa-square-x-twitter"></i>
        </span>
    </div>

  
</div> -->

        
        
      <app-comment></app-comment>

      <div class="more mt-3">
    
    <app-more-news></app-more-news>
    </div>

    </div>

    <!-- Trending Videos Sidebar -->
    <div class="w-full md:w-[30%] ">
<app-tranding-news></app-tranding-news>
        
    </div>
</div>